@import "color.css";

.login {
  position: relative;
}

.login--form {
  padding: 15% 46%;
  position: absolute;
  transform: translate(-35%, -30%);

  background-image: url("../img/background.jpg");
  background-position: center center;
  background-size: 1600px 1200px;
  background-repeat: no-repeat;
}

.login--form__container::before {
  border-radius: 5%;
  background: gray;
  opacity: 0.2;
  content: "";
}

.login--form__container {
  position: relative;
  margin-left: -60%;
  margin-top: -35%;
  height: 100px;
  padding: 40% 60%;
  width: 600px;
}

.input__text {
  width: 100%;
  padding: 8px;
}

.input__text:focus {
  outline: none;
}

.input__button {
  width: 100%;
  padding: 3%;
  color: white;
  border-style: none;
  border-radius: 25px;
  background: var(--second);
}

.input__check:checked,
.input__check:focus {
  background-color: var(--second);
}
